<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8 no-js"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js">  <!--<![endif]-->
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Parakeets School</title>
		<link rel="shortcut icon">

		<!-- Bootstrap core CSS -->
		<link href=" {{ url_for('static',filename='css/bootstrap.min.css') }} " type="text/css" rel="stylesheet" media="screen">

		<link href="{{ url_for('static',filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen">
		<link href="{{ url_for('static',filename='css/font-awesome.css') }}" type="text/css" rel="stylesheet" media="screen">

		<script src="{{ url_for('static',filename='js/modernizr.js') }}"></script>
		<script src=" {{ url_for('static',filename='js/respond.js') }}"></script>
	</head>
	<body>
		<div class="container" id="wrapper">

			<!-- header -->
			<header>
				<a href="/" class="logo">
					<img src="{{ url_for('static',filename='images/logo.jpg') }}" alt="" />
				</a>
				<nav role="navigation">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="fa">&#xf0c9;</span>
						</button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul>
							<li class="active"><a href="/">Home</a></li>
							<li><a href="/about">About us</a></li>
							<li><a href="/gallery">Gallery</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
					<div id="sun"></div>

				</nav>
				<div class="clearfix"></div>
			</header>
			<!-- end header -->

			<!-- front page header featured area -->
			<section id="featured">

				<!-- WOWSlider -->
				<div id="wowslider-container1">
					<div class="ws_images">
						<ul>
							<li><img src="{{ url_for('static',filename='images/wowslider/01.png') }}" alt="This is the title" title="This is the title" id="wows1_0"/>And this is description</li>
							<li><img src="{{ url_for('static',filename='images/wowslider/02.png') }}" alt="Another title" title="Another title" id="wows1_1"/>And another description</li>
							<li><img src="{{ url_for('static',filename='images/wowslider/03.png') }}" alt="Third title" title="With third description" id="wows1_2"/>And another description</li>
						</ul>
					</div>
					<div class="ws_bullets">
						<div>
							<a href="#" title="This is the title">1</a>
							<a href="#" title="Another title">2</a>
							<a href="#" title="Third title">3</a>
						</div>
					</div>
				</div>
				<!--  end WOWSlider -->

			</section>
			<!-- end front page header featured area -->

			<!-- page content area -->
			<section id="content-homepage">

				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					<div id="col-yellow">
						<div id="ladybug"></div>
						<h2>About us</h2>
						<p>Parakeets Pre School provides effective education to children & give opportunities for students to develop individual interests and aptitudes.</p>
						<a href="/about" class="button blue"><span>&#xf138;</span>READ MORE</a>
						<div class="clearfix"><br /></div>
						<h2>Working Hours</h2>
						<p>Weekdays 07:30 AM - 7:30 PM</p>
						<a href="about" class="button blue"><span>&#xf138;</span>SEE PROGRAM</a>
					</div>
				</div>
				<div class="col-lg-3 col-sm-4 col-xs-12">
					<div id="col-green">
						<div id="butterfly"></div>
						<h2>Latest blog post</h2>
						<img src="{{ url_for('static',filename='images/placeholders/orange-mid.png') }}" alt="" class="img-margin" />
						<p>Nam lorem urna, vitae ultrices ac pellentesque tincidunt augue.</p>
						<a href="#" class="button red"><span>&#xf138;</span>READ MORE</a>
					</div>
				</div>
				<div class="col-lg-3 col-sm-4 col-xs-12">
					<div id="col-orange">
						<h2>Photo Gallery</h2>
						<p>Nam lorem urna, vitae ultrices ac pellentesque tincidunt augue.</p>
						<img src="{{ url_for('static',filename='images/placeholders/yellow-mid.png') }} " alt="" class="img-margin" /><br />
						<a href="/gallery" class="button green"><span>&#xf138;</span>SEE GALLERY</a>
					</div>
				</div>

			</section>
			<!-- end page content area -->

			<div class="clearfix"></div>
		</div>
		<!-- end #wrapper -->

		<footer>
			<div class="footer-menu">
				<div class="container">
					<div class="col-lg-6 col-md-6 col-sm-12 fa social-media">
						<a href="#">&#xf0d4;</a>
						<a href="#">&#xf082;</a>
						<a href="#">&#xf099;</a>
						<a href="#">&#xf16d;</a>
						<a href="#">&#xf08c;</a>
						<a href="#">&#xf0d2;</a>
						<a href="#">&#xf166;</a>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 footer-links">
						<a href="/">Home</a> /
						<a href="/about">About</a> /
						<a href="/gallery">Gallery</a> /
						<a href="/contact">Contact</a>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="col-lg-12 col-md-12">&copy; 2013 Kindergarten</div>
				</div>
			</div>
		</footer>

		<script src=" {{ url_for('static',filename='js/jquery-1.10.1.min.js') }} "></script>
		<script src=" {{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
		<script src=" {{ url_for('static',filename='js/custom.js') }}"></script>
		<script src=" {{ url_for('static',filename='js/wowslider.js') }}"></script>
		<script src=" {{ url_for('static',filename='js/wowtransition.js') }}"></script>
		<script src=" {{ url_for('static',filename='js/jquery.prettyPhoto.js') }}"></script>

	</body>
</html>